{% extends 'base.html' %}

{% block title%}
CollectHub -- Профиль
{% endblock %}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'profileuser/css/main.css' %}">
<div class="container">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container md-10">
                    {% if avatar %}
                    <img src="{{ avatar.url }}" alt="" class="image-radius" width="200" height="250">
                    {% else %}
                    <img src="{% static 'profileuser\img\no_photo.jpg' %}" alt="" class="image-radius" width="200"
                        height="250">
                    {% endif %}
                </div>

            </div>
            <div class="col-sm">
                <div class="row">
                    <i>Был в сети в {{ last_login }}</i>
                </div>
                <div class="row">
                    <h1><b> {{ firstname }} {{ secondname }}</b></h1>
                </div>
                <div class="row">
                    {% if town %}
                    <h6>Город: {{ town }}</h6>
                    {% else %}
                    <h6>Город: Не указан</h6>
                    {% endif %}
                </div>
                <div class="row">
                    {% if phonenumber %}
                    <h6>Номер телефона: {{ phonenumber }}</h6>
                    {% else %}
                    <h6>Номер телефона: Не указан</h6>
                    {% endif %}

                </div>
                <form action="update" method="get">
                    <button type="{% url 'update_profile' %}" class="btn btn-primary">Редактировать Профиль</button>
                </form>
            </div>

        </div>
    </div>
    <hr>
</div>
{% endblock %}